<!DOCTYPE html>
<html>
<head>
  <title>Mike + Tara</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
  	<div class="container">
      <div class="nav">
        <ul class="pull-left">
          <li><%= link_to("Home", root_path) %></li>
          <li><%= link_to("Who", who_path) %></li>
          <li><%= link_to("When", when_path) %></li>
          <li><%= link_to("Where", where_path) %></li>
        </ul>
        <ul class="pull-right">
          <li><%= link_to("RSVP", rsvp_path) %></li>
          <li><%= link_to("Travel Tips", tips_path) %></li>
          <li><%= link_to("Guestbook", guest_path) %></li>
        </ul>
      </div>
    </div>
<%= yield %>

</body>
</html>
